{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>Forgot Password</title>
    <link rel="stylesheet" href="{% static 'css/forgotpassword.css' %}">
</head>
<script>
function postemail() {
const email = document.getElementById(`email`).value;
const csrf = '{{ csrf_token }}';
if(email==''){
alert("email cannot be empty")
}
else {
$.ajax({
type:'POST',
url:'http://127.0.0.1:8000/forgot/',
headers:{
'X-CSRFToken':csrf
},
data:{
'email': email
},
success:function(data){
if (data.message){
alert(data.message);
}
if (data.data){
const otpForm = document.getElementById(`otp-form`);
otpForm.style.display = otpForm.style.display === 'block' ? 'none' : 'block';
}
}
});
}
}
</script>
<body>
    <div class="container">
        <h1>Forgot Password</h1>
        <p>Enter your email address to receive a one-time password.</p>
            <label for="email">Email Address:</label>
            <input type="email" id="email" name="email" required>
            <button class="sendmailbutton" onclick="postemail()">Submit</button>
        <form method="post" action="{% url 'forgotlogin' %}">
            {% csrf_token %}
        <div id = "otp-form" style="display: none;">
            <label for="otp">One-Time Password:</label>
            <input type="number" id="otp" name="otp" required>
            <small>This otp is valid for 3 min</small>
            <button type="submit">Submit</button>
            </form>
        </div>
    <div class="messages">
        {% for message in messages %}
        <div class="message">{{ message }}</div>
        {% endfor %}
    </div>
    </div>
</body>
</html>