{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Login</title>
</head>
<body>
    <div class="login-wrapper">
        <div class="login-card">
            <div class="card-header">
                <h1>Login</h1>
            </div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn-login">Login</button>
                    <a href="{% url 'signup' %}" class="create-account">Don't have an account? Create</a>
                    <a href="{% url 'forgot' %}" class="create-account">Forgot Password?</a>
                    <div class="messages">
                        {% for message in messages %}
                            <div class="message">{{ message }}</div>
                        {% endfor %}
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>