{% load static %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

  <script>
window.onload = function() {
  fetchusertype();

  function fetchusertype(){
    $.get("http://127.0.0.1:8000/login-check-user", function(data, status) {
    if(data.data===false){
     // Initial notification fetch
      fetchNotifications();
       // Set interval for periodic updates
      setInterval(fetchNotifications, 15000); // 15 seconds
    }
  });
  }

  function fetchNotifications() {
    $.get("http://127.0.0.1:8000/fetchnotification", function(data, status) {
      const notificationList = document.getElementById('notification-list');
      notificationList.innerHTML = ''; // Clear previous notifications
      const notificationDot = document.getElementById('notification-dot');
      const hasUnreadNotifications = data.data.some(notification => notification.readstatus===false);
    if (hasUnreadNotifications) {
      notificationDot.style.display = 'inline-block';
    } else {
      notificationDot.style.display = 'none';
    }
      data.data.forEach(notification => {
        const notificationHTML = `
          <ul>
            <li>
              <a href="#">${notification.data}</a>
            </li>
          </ul>
        `;
        notificationList.innerHTML += notificationHTML;
      });
    });
  }


  // Mark notifications as read when dropdown is opened
const notificationLink = document.querySelector('.notification-link');
const notificationContent = document.querySelector('.notification-content');

if (notificationLink!==null){
notificationLink.addEventListener('mouseover', () => {
  const csrf = '{{ csrf_token }}';
  notificationContent.style.display = 'block';
  // Send AJAX request to mark notifications as read
  $.ajax({
    type: 'POST',
    url: 'http://127.0.0.1:8000/mark-notification-read/',
    headers:{
    'X-CSRFToken':csrf
},
    success: function(data) {
      document.getElementById('notification-dot').style.display = 'none';
    }
  });
});
}
}
  </script>
</head>

<body>
  {% if not request.user.is_admin %}
    <ul>
      <li><a class="{% if request.path == '/success/'%} active {% endif %}" href="{% url 'success' %}">DASHBOARD</a></li>

      {% for permission in permission %}
        {% if 'create_blog' in permission.permissions.permissionnames %}
          <li><a class="{% if request.path == '/createblog/'%} active {% endif %}" href="{% url 'create' %}">Create Blog</a> </li>
        {% endif %}
      {% endfor %}

      {% for permission in permission %}
        {% if 'see_my_blogs' in permission.permissions.permissionnames %}
          <li><a class="{% if request.path == '/myblog/'%} active {% endif %}" href="{% url 'my' %}">My Blogs</a> </li>
        {% endif %}
      {% endfor %}

      {% for permission in permission %}
        {% if 'see_all_blogs' in permission.permissions.permissionnames %}
          <li> <a class="{% if request.path == '/members/'%} active {% endif %}" href="{% url 'members' %}">All Blogs</a></li>
        {% endif %}
      {% endfor %}

      {% for permission in permission %}
        {% if 'edit_user_profile' in permission.permissions.permissionnames %}
          <li> <a class="{% if request.path == '/profile/'%} active {% endif %}" href="{% url 'profile_edit' %}">Edit Profile</a></li>
        {% endif %}
      {% endfor %}

      <!-- Notifications with dropdown -->
      <li id="notification-dropdown">
        <a href="#" class="notification-link">Notifications</a>
         <span id="notification-dot" style="display: none;"></span>
      </li>
      <li><a href="{% url 'logout' %}">Logout</a></li>
      <li><p class="navbar_email">{{ request.user.email }}</p></li>
    </ul>
  </div>
  <div class="notification-content">
    <ul id="notification-list">
      <!-- Notifications will be listed here -->
    </ul>
  </div>

  {% else %}
    <ul>
      <li><a href="{% url 'ad_min' %}" class="active">ADMIN PANEL</a></li>
      <li><a href="{% url 'permission' %}">PERMISSIONS</a></li>
      <li><a href="{% url 'logout' %}">Logout</a></li>
    </ul>
  {% endif %}

  <script>
    const notificationLink = document.querySelector('.notification-link');
    const notificationContent = document.querySelector('.notification-content');

    notificationLink.addEventListener('mouseover', () => {
      notificationContent.style.display = 'block';
    });

    notificationLink.addEventListener('mouseout', () => {
      notificationContent.style.display = 'none';
    });
  </script>
</body>
</html>

{% block content %} {% endblock %}