{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
{% if not request.user.is_admin %}
<ul>
<li><a class="active" href="{% url 'success' %}">Home</a></li>
<li><a href="{% url 'create' %}">Create Blog</a> </li>
<li><a href="{% url 'my' %}">My Blogs</a> </li>
<li> <a href="{% url 'members' %}">All Blogs</a></li>
    <li> <a href="{% url 'profile_edit' %}">Edit Profile</a></li>
<li><a href="{% url 'logout' %}">Logout</a></li>
</ul>
{%else%}
<ul>
    <li><a class="active">ADMIN PANEL</a></li>
    <li><a href="{% url 'permission' %}">PERMISSIONS</a></li>
    <li><a href="{% url 'logout' %}">Logout</a></li>
</ul>
{%endif%}
</body>
</html>
{% block content %}
{% endblock %}